Library/
Logs/
obj/Debug
*.sln
*.csproj
Temp/
.vs/
*.cache
*.meta
*.xcf
*.cache
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
*.cache
